@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #D9D7C1;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#foto {
    display: block;
    background: url('../imagens/imagem22.jpg') no-repeat;
    background-size: cover;
    height: 250px;
}

section#login > div#formulario {
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.9em;
    margin-bottom: 40px;
}

form > div.campo {
    background-color: #d6d4be;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px auto;
}

div.campo > span {
    font-size: 2em;
    width: 20px;
    margin-top: 5px;
    padding-left: 5px;
}

div.campo > input {
    font-size: 1em;
    width: calc(100% - 54px);
    transform: translate(5%, -35%);
    height: 90%;
    border-radius: 5px;
    border: 2px solid #D9D7C1;
}

form > input[type= submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin: auto;
    background-color: #acacac;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type= submit]:hover {
    background-color: #979797;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin: 5px auto;
    color: black;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #808080;
}

form > a.botao:hover {
    background-color: #808080;
}

form > a.botao > span {
    font-size: 0.8em;
}