@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #D9D7C1, #7f70b6);
    background-repeat: no-repeat;
    height: 100vh;
}

main {
    max-width: 768px;
    margin: auto;
}

section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
    background-color: rgb(127, 112, 182);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.637);
    text-align: center;
}

section img {
    width: 300px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

section p {
    padding: 15px;
    text-align: left;
}

section h1 {
    padding: 15px;
}

/* Configurando os botões */

div {
    position: relative;
    left: 8%;
    background-color: white;
    width: 210px;
    height: 21px;
    margin: 20px;
    border-radius: 5px 2px 2px 5px;
}

div .centralizacao {
    position: relative;
    bottom: 9px;
    display: inline;
}

span {
    text-align: inherit;
    position: relative;
    left: 0px;
    top: -1px;
    display: inline;
}

input.btn {
    width: 210px;
    margin: 2px;
    padding: 4px;
    border-radius: 5px;
    border: inherit;
}

.btn:hover {
    cursor: pointer;
    background-color: #595958;
    box-shadow: 1px 1px 1px black;
    transform: translate(-1px, -1px);
    transition: transform 0.3s;
}